
*{
    color: rgb(255, 255, 255);
    font: 'mk1.ttf','arial';
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: url('../img/img_background_0.gif');
}

header{
    margin: 0;
    font-size: 50px;
    color: white;
}

main{
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 31vw;
}



img{
    width: 15vw;
    height: 15vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.selected-char {
    width: 20vw;
    height: 35vw;
    border:0;
   
}

.main-char-container{
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
    
}



.char{
    border: solid 5px rgba(128, 128, 128, 0.435);
    background-color: rgba(128, 128, 128, 0);
    width: 15vw;
    height: 15vw;
    cursor: pointer;
}

.char:hover{
    background-color: rgba(26, 74, 22, 0.64);
    border: solid 5px rgba(26, 74, 22, 0.64);
    box-shadow: 0px 0px 28px 0px rgb(31, 176, 41);
}


.logo:hover {
    border: solid 5px rgba(128, 128, 128, 0.435);
    
    box-shadow: none;
    background-color: rgba(128, 128, 128, 0);
    cursor: auto;
}

.spinning_logo.animated{
    animation: spinning 5s linear infinite;
}

.selected-player2{
    width: 20vw;
    height: 35vw;
}

.selected-player1{
    width: 20vw;
    height: 35vw;
}

footer{
    font-size: 20px;
    margin-top: 2vw;
}

@keyframes spinning {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}