*{
    border: transparent;
    color: rgb(255, 255, 255);
    background: none;
    background-color:transparent;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: cover;
}
header{
    font-size: 50px;
    color: white;
}
main{
    display: flex;
    border-color: unset;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    
   
}
.main-char-container{
    display: flex;
    width: 650px;
    justify-content: center;
    flex-wrap: wrap;
}


.selected-char {
    width: 250px;
    height: 450px;
    border:0;
    background-position: center;
    background-size: cover;
}
.char{
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
}
.char0{
    background-image: url('../img/image0.png');
    outline: none;
    
}
.char1{
    background-image: url('../img/image1.png');
}
.char2{
    background-image: url('../img/image2.png');
}
.char3{
    background-image: url('../img/image3.png');
}
.char4{
    background-image: url('../img/image4.png');
}
.char5{
    background-image: url('../img/image5.png');
}

.selected-player2{
    background-image: url('../img/image1.gif');
}
.selected-player1{
    background-image: url('../img/image0.gif');
}
body {
    background-image: url('../img/img_background_0.gif');
}